.container-fluid

  .row
    .col-md-6
      h2 Data & Options

      div(bs-active-pane="main.tabs.activeTab" bs-tabs)
        div(data-title="Input data" name="input" bs-pane)
          div.text-danger(ng-show="main.errors.data") {{ main.errors.data }}
          textarea.form-control(
            rows="20"
            ng-model="main.form.data"
            name="data"
          )
          div(style="margin-top: 5px")
            button.btn.btn-primary(ng-click="main.processData()") Process

        div(data-title="Data table" name="table" bs-pane)
          div(ng-hide="main.tableData.body.length > 0")
            div.alert.alert-danger(role="alert") Paste some data on the 'Input data' tab and hit the 'Process' button.
          div(ng-show="main.tableData.body.length > 0")
            .checkbox
              label
                input(
                  type="checkbox"
                  title="Select all"
                  ng-click="main.selectAll()"
                  ng-checked="main.isAllSelected()"
                  )
                | Select all

            div.text-right(style="margin-top: -27px" title="Total distance calculated only from the path of the selected points") Distance (selection): {{ main.calcDistanceSelected() | number:2 }} m

            div.table-responsive(style="font-size: 85%; max-height: 500px")
              table.table.table-bordered.table-hover.table-small
                thead
                  tr
                    th #
                    th(ng-repeat="h in main.tableData.header") {{ h }}
                tbody
                  tr(
                    ng-repeat="row in main.tableData.body"
                    ng-class="{active: row.isSelected}"
                    ng-click="main.toggleSelect(row)"
                    )
                    td {{ $index }}
                    td {{ row.data[0] | number:7 }}
                    td {{ row.data[1] | number:7 }}
                    td {{ row.data[2] }}
                    td {{ row.data[3] }}
                    td {{ row.data[4] | number:2 }}
                    td {{ row.data[5] | number:0 }}
                    td {{ row.data[6] | number:2 }}

        div(data-title="Options" name="options" bs-pane)
          br
          form(role="form")
            fieldset
              legend Map
              .form-group
                label Delay between steps when simulate (in ms)
                input.form-control(type="text" ng-model="main.options.simulateStepDelay")
                div.help-block How much miliseconds to wait between simulation steps

    .col-md-6
      h2 Map
      div Markers: {{ main.markers.length }} (selected: {{ main.getSelected().length }})

      p
        span(ng-hide="main.simulatePromise")
          button.btn.btn-primary(type="button" ng-click="main.simulateStart()" title="Simulate")
            span &nbsp;Simulate
        span(ng-show="main.simulatePromise")
          button.btn.btn-danger(type="button" ng-click="main.simulateStop()" title="Stop simulate")
            span &nbsp;Stop simulate
        span
          | &nbsp;
          button.btn.btn-success(type="button" ng-click="main.fitBounds(true)" title="Zoom map to selection")
            span &nbsp;Fit map
        span
          | &nbsp;
          button.btn.btn-default(
            type="button"
            ng-model="main.options.mapItems"
            data-multiple="1"
            data-animation="am-flip-x"
            bs-options="item.value as item.label for item in main.options.mapItemOptions"
            bs-select
            placeholder=""
            )
            | &nbsp; <span class="caret"></span>
        span.pull-right
          button.btn.btn-default(ng-click="main.selectPrevious()" title="Select next point(s)")
            i.fa.fa-arrow-left.fa-lg
            span &nbsp;Previous
          button.btn.btn-default(ng-click="main.selectNext()" title="Select previous point(s)")
            span Next&nbsp;
            i.fa.fa-arrow-right.fa-lg

      ng-map.map(zoom="7" max-zoom="21" center="[47, 19]" style="height: 600px")
        marker(
          ng-repeat="marker in main.markers"
          id="{{ marker.id }}"
          position="{{ marker.position }}"
          icon="{{ marker.icon }}"
          label="{{ marker.label }}"
          on-click="main.showMarkerInfo(event, marker)"
          )
        shape(
          ng-repeat="polyline in main.polylines"
          name="{{ polyline.name }}"
          path="{{ polyline.path }}"
          stroke-color="{{ polyline.strokeColor }}"
          stroke-opacity="{{ polyline.strokeOpacity }}"
          stroke-weight="{{ polyline.strokeWeight }}"
          geodesic="{{ polyline.geodesic }}"
        )


